

      @font-face {

          font-family: 'munro';

          src: url('generalmunro.ttf');

          src: url('generalmunro.ttf').format('truetype');

          font-weight: normal;

          font-style: normal;

      }
